<div class="main-content pt-4" *ngIf="this._uw.orderSelected">
     <div class="breadcrumb">
        <ul>
            <li><a routerLink="/orders" >Pedidos</a></li>
            <li>Detalle del pedido Nro. 
                <span class="text-primary">
                    {{this._uw.orderSelected.npedido}}
                </span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xl-4  mb-4">
            <div class="card">
                <div class="card-body">
                  <div class="ul-widget-s6__items" *ngIf="this._uw.orderSelected.steeps">            
					<div class="ul-widget-s6__item" [hidden]="this._uw.orderSelected.steeps[0].steep==false" ><span class="ul-widget-s6__badge">
					    <p class="badge-dot-success ul-widget6__dot"></p>
					    </span><span class="ul-widget-s6__text">Se registra un nuevo . <a class="typo_link text-info2" (click)="setSteepOne()" style="cursor: pointer !important;" > Pedido</a></span><span class="ul-widget-s6__time">4 min </span>
					</div>
					<div class="ul-widget-s6__item" [hidden]="this._uw.orderSelected.steeps[1].steep==false"><span class="ul-widget-s6__badge">
					    <p class="badge-dot-warning ul-widget6__dot"></p>
					    </span><span class="ul-widget-s6__text">Verificación de . <a class="typo_link text-info2" (click)="setSteepTwo()" style="cursor: pointer !important;" > Pago</a></span><span class="ul-widget-s6__time">1 min </span>
					</div>
					<div class="ul-widget-s6__item" [hidden]="this._uw.orderSelected.steeps[2].steep==false"><span class="ul-widget-s6__badge">
					    <p class="badge-dot-info ul-widget6__dot" (click)="setSteepThree()"></p>
					    </span><span class="ul-widget-s6__text">En proceso </span><span class="ul-widget-s6__time">30 seg </span>
					</div>
					<div class="ul-widget-s6__item" [hidden]="this._uw.orderSelected.steeps[3].steep==false"><span class="ul-widget-s6__badge">
					    <p class="badge-dot-primary ul-widget6__dot"></p>
					    </span><span class="ul-widget-s6__text">Venta concretada </span><span class="ul-widget-s6__time">10 seg </span>
					</div>                                 
                  </div>
                </div>
                <div class="ul-product-cart__invoice">
                    <table class="table" *ngIf="this._uw.orderSelected" >
                        <tbody >
                        	<tr >
                        		<th class="text-13 text-right" scope="row"style="border-top: 0px;">Pedido: </th >
                        		<td class="text-16 text-success font-weight-700"style="border-top: 0px;">	
                                    <h4 class="heading text-primary">{{this._uw.orderSelected.npedido}} </h4>
                                </td>
                        	</tr>
                             <tr>
                                <th class="text-16 text-right" scope="row" ><i class="i-Map-Marker"></i></th>
                                <td>
                                    {{this._uw.orderSelected.direccion}}
                                </td>
                            </tr>
                            <tr *ngIf="this._uw.orderSelected" >
                                <th class="text-16 text-right" scope="row"><i class="i-Boy text-19"></i></th>
                                <td class="text-16 font-weight-700">{{this._uw.orderSelected.personaContacto}} 
                                	<button class="btn bg-white _r_btn border-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _inline-dot bg-primary"></span><span class="_dot _inline-dot bg-primary"></span><span class="_dot _inline-dot bg-primary"></span></button>
                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                                  <!--       <a class="dropdown-item ul-widget__link--font"><i class="i-Map-Marker"> </i> {{this._uw.orderSelected.direccion}}</a> -->
                                        <a class="dropdown-item ul-widget__link--font"><i class="i-Old-Telephone"> </i>  {{this._uw.orderSelected.telefono}}</a>
                                        <a class="dropdown-item ul-widget__link--font" href="mailto:{{this._uw.orderSelected.email}}"> <i class="i-Envelope"> </i>   {{this._uw.orderSelected.email}}</a>
                                    </div>	
                                </td>
                            </tr>
                           
                             <tr>
                                <th class="text-16 text-right" scope="row" ><i class="i-Money-2 text-19"></i></th>
                                <td>
                                    {{this._uw.orderSelected.metodo}}
                                </td>
                            </tr>
                            <tr>
                                <th class="text-primary text-16 text-right" scope="row">Total:</th>
                                <td class="font-weight-700 text-16">
                                		<h4 class="heading text-primary">{{this._uw.orderSelected.total  |  number:'1.0-0'}} </h4> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="ul-product-cart__button text-right" *ngIf="this._uw.orderSelected.steeps">
                        <button class="btn btn-warning btn-block ripple m-1" type="button" style="color: white;" [hidden]="!this._uw.orderSelected.steeps[1].steep || this._uw.orderSelected.steeps[2].steep ">Marcar pago verificado</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-xl-8">
            <div class="card" [hidden]="!this._uw.new">
                <div class="card-body">
                    <div class="ul-widget__head v-margin">
                        <div class="ul-widget__head-label">
                            <h3 class="ul-widget__head-title text-primary">Nro. de pedido {{this._uw.orderSelected.npedido}}</h3>
                        </div>
                       <!--  <button class="btn bg-white _r_btn border-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _inline-dot bg-primary"></span><span class="_dot _inline-dot bg-primary"></span><span class="_dot _inline-dot bg-primary"></span></button>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="widget-list.html#">Ocultar Cancelados</a>
                        </div> -->
                    </div>
                    <div class="ul-widget-body">
                        <div class="ul-widget3">
                            <div class="ul-widget6__item--table">
						        <div class="table-responsive" >
						            <table class="table">
						                <thead>
						                    <tr>
						                        <th scope="col">Producto</th>
						                        <th scope="col">Precio</th>
						                        <th scope="col">Cantidad</th>
						                        <th scope="col">sub-total</th>
						                        <th scope="col">Action</th>
						                    </tr>
						                </thead>
						                <tbody>
						                    <tr *ngFor="let item of this._uw.orderSelected.car;  index as i" >
						                        <td scope="row" >
						                        	<img class="profile-picture avatar-sm mb-2 img-fluid" src="{{item.images[0]}}" alt="" />
						                            <div class="ul-product-cart__detail d-inline-block align-middle ml-1">
						                            	<a >
						                                	<h6 class="heading">{{item.productName}}</h6>
						                                </a>
                                                        <!-- <span class="text-mute">{{item.presentacion}}</span> -->
						                            </div>
						                        </td>
						                        <td>{{item.globalPrice}}</td>
						                        <td>{{item.quantity}} {{item.presentacion}}</td>
						                        <td>{{item.globalPrice*item.quantity}}</td>
						                        <td><a ><i class="i-Close-Window text-19 text-danger font-weight-700"></i></a></td>
						                    </tr>
						                </tbody>
						            </table>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="card bg-dark text-white o-hidden mb-4" [hidden]="!this._uw.pago">
                <img class="card-img" src="{{this._uw.orderSelected.pago}}" />
                <div class="card-img-overlay">
                    <div class="text-center pt-4">
                        <h5 class="card-title mb-2 text-white"></h5>
                        <div class="separator border-top mb-2"></div>
                        <p class="text-small font-italic"></p>
                    </div>
                    <div class="p-1 text-left card-footer font-weight-light d-flex">
                   <!--      <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i> </span>
                        <span class="d-flex align-items-center"><i class="i-Calendar-4 mr-2"></i></span> -->
                    </div>
                </div>
            </div>
            <!-- {{this._uw.orderSelected.id}} -->
             <div class="card text-white o-hidden mb-4" [hidden]="!this._uw.proccess">
                <img class="card-img" style="width: 50%;" src="assets/dist-assets/images/repartidor.png" />
              <!--   <div class="card-img-overlay">
                    <div class="text-center pt-4">
                        <h5 class="card-title mb-2 text-white"></h5>
                        <div class="separator border-top mb-2"></div>
                        <p class="text-small font-italic"></p>
                    </div>
                    <div class="p-1 text-left card-footer font-weight-light d-flex">
                 
                    </div>
                </div> -->
            </div>
        </div>        
    </div>
</div>
<div class="sidebar-overlay open"></div>
<div class="flex-grow-1"></div>