<div class="app-footer" [hidden]="router.url.includes('/productdetail') || router.url.includes('/config') || router.url.includes('/success') || router.url.includes('/addproduct') || router.url.includes('/admin')" >
    <div class="row">
        <div class="col-md-9">
            <p><strong>meseria dashboard</strong></p>
            <p>Administrador de meseria.com
            </p>
        </div>
    </div>
    <div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">
        <a class="btn btn-primary text-white btn-rounded" href="mailito:junior.marquez.hsc@gmail.com">Contactar al desarrollador</a>
        <span class="flex-grow-1"></span>
        <div class="d-flex align-items-center">
            <img class="logo" src="assets/dist-assets/images/logo.png" alt="">
            <div>
                <p class="m-0">&copy; 2020 soHigh!</p>
                <p class="m-0">Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</div>