
<div class="main-content pt-4">
    <div class="row">
        <!-- venta por categoria -->
        <div class="col-lg-12 col-md-12 col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="ul-widget__head v-margin">
                        <div class="ul-widget__head-label">
                            <h3 class="ul-widget__head-title">Pedidos</h3>
                        </div>
                        <button class="btn bg-white _r_btn border-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _inline-dot bg-primary"></span><span class="_dot _inline-dot bg-primary"></span><span class="_dot _inline-dot bg-primary"></span></button>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="widget-list.html#">Ocultar Cancelados</a>
                        </div>
                    </div>
                    <div class="ul-widget-body">
                        <div class="ul-widget3">
                            <div class="ul-widget6__item--table">
                                <table class="table" style="font-size: 1.2rem;">
                                    <thead>
                                        <tr class="ul-widget6__tr--sticky-th">
                                            <!-- <th scope="col">#</th> -->
                                            <th scope="col">Cliente</th>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Monto</th>
                                            <th scope="col">Metodo de pago</th>
                                             <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="orders">
                                        <!-- start tr-->
                                        <tr *ngFor="let order of orders; index as i" >
                                           
                                                  <td><a (click)="setId(order,i,this._uw.tamano)" style="cursor: pointer !important; ">{{order.personaContacto}}</a></td>
                                            <td> <a (click)="setId(order,i,this._uw.tamano)" style="cursor: pointer !important; ">11/28/2016</a></td>
                                                

                                                <td > 
                                                    <a (click)="setId(order,i,this._uw.tamano)" style="cursor: pointer !important; ">
                                                        <span [hidden]="order.status!='new'" class="badge badge-pill badge-outline-success p-2 m-1">Nuevo</span>
                                                        <span [hidden]="order.status!='verificar'" class="badge badge-pill badge-outline-warning p-2 m-1">Por verificar</span>
                                                        <span [hidden]="order.status!='proccess'" class="badge badge-pill badge-outline-info p-2 m-1">En proceso</span>
                                                           <span [hidden]="order.status!='success'" class="badge badge-pill badge-outline-primary p-2 m-1">Concretada</span>
                                                </a></td>
                

                                            <td> <a (click)="setId(order,i,this._uw.tamano)"style="cursor: pointer !important; "> {{order.total}}</a></td>
                                               <td><a (click)="setId(order,i,this._uw.tamano)" style="cursor: pointer !important; ">{{order.metodo}}</a></td>
                                               <td>

                                                <button class="btn bg-white _r_btn border-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _inline-dot bg-primary"></span><span class="_dot _inline-dot bg-primary"></span><span class="_dot _inline-dot bg-primary"></span></button>
                                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                    <a class="dropdown-item ul-widget__link--font" style="cursor: pointer !important; " (click)="setId(order,i,this._uw.tamano)"><i class="i-Check"> </i> Ver detalle de pedido</a>
                                                    <a class="dropdown-item ul-widget__link--font" style="cursor: pointer !important; " (click)="setId(order,i,this._uw.tamano)"><i class="i-Over-Time-2"> </i> Ver histórico de transacción</a>
                                                    <a class="dropdown-item ul-widget__link--font" href="https://wa.me/{{order.telefono}}" target="_blank"><i class="i-Speach-Bubble-11"> </i> Abrir chat Whatsapp</a>
                                                </div>
                                            </td>
                                           
                                        </tr>
                                        <!-- end tr-->
                                    </tbody>
                                </table>
                            </div>
                            <!-- <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="widget-list.html#">Anterior</a></li>
                                    <li class="page-item"><a class="page-link" href="widget-list.html#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="widget-list.html#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="widget-list.html#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="widget-list.html#">Proximo</a></li>
                                </ul>
                            </nav> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
<div class="sidebar-overlay open"></div>
<div class="flex-grow-1"></div>